.exp-sec {
    background-image: url(../img/exp-bg.svg);
    background-size: cover;
    background-position: top;
    margin-top: 40px;
}

.exp-row {
    position: relative;
    min-height: 490px;
    display: flex;
    flex-wrap: wrap;
}

.exp-img {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 50%;
    max-width: 100%;
}

.exp-col {
    max-width: 360px;
    h2 {
        margin: 210px 0 15px 0;
        font-size: 42px;
        line-height: 1.48;
        letter-spacing: 0.8px;
        color: #ffffff;
    }
    p {
        line-height: 1.7;
        letter-spacing: 1.15px;
        color: #ffffff;
        margin: 15px 0 30px 0;
    }
    .btn {
        margin-bottom: 55px;
        text-decoration: none;
        @include btn-style(1);
    }
}

@media (max-width: 1000px) {
    .exp-row {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .exp-col {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin: 20px 0 15px 0;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }

    .exp-img {
        order: 1;
        position: static;
    }
}

@media (max-width: 400px) {
    .exp-col {
        h2 {
            font-size: 30px;
        }
    }

    .exp-img {
        order: 1;
        position: static;
    }
}


// .exp-sec {
// }
// .container {
// }
// .exp-row {
// }
// .exp-col {
// }
// .btn {
// }
// .exp-img {
