@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .footer-most-links .col:first-of-type {
    margin-left: 20px;
  }
  .logobar-text {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) and (max-width: 1000px) {
  .wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
  }
  .img-box img:first-of-type {
    margin-left: 0;
  }
  .img-box img:last-of-type {
    margin-right: 0;
  }
  .logobar-text {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .img-box img {
    max-width: 300px;
  }
  .footer-most-links .col:first-of-type {
    margin-left: 0;
  }
  .footer-most-links .col {
    margin-right: 20px;
  }
  .logobar-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px;
  }
  .footer-most-links {
    margin-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: normal;
  }
  .form-container:before {
    top: 18%;
    z-index: 2;
  }
  .text {
    width: auto;
  }
  .form-container {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-input {
    padding: 17px 0 17px 70px;
    margin-bottom: 45px;
  }
  .form-container .btn {
    position: static;
  }
  .intro-img {
    max-width: 100%;
  }
  .intro-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-heading {
    font-size: 35px;
    width: auto;
  }
}

@media (max-width: 1200px) and (max-width: 1000px) and (max-width: 880px) {
  .navbar-raw {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-raw a {
    margin-bottom: 35px;
  }
  .navbar-links {
    margin: 0 75px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-box {
    gap: 40px;
  }
  .navbar-links {
    gap: 15px;
  }
  .img-box img {
    max-width: 210px;
  }
}

@media (max-width: 1200px) and (max-width: 1000px) and (max-width: 880px) and (max-width: 600px) {
  .img-box img {
    max-width: 140px;
  }
  .main-heading {
    font-size: 25px;
  }
  .form-container .btn {
    font-size: 12px;
  }
  .form-input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .form-input:-ms-input-placeholder {
    font-size: 12px;
  }
  .form-input::-ms-input-placeholder {
    font-size: 12px;
  }
  .form-input::placeholder {
    font-size: 12px;
  }
  .intro-row .col {
    max-width: 90%;
  }
  .logo-box img {
    max-width: 150px;
  }
}

@media (max-width: 1200px) and (max-width: 1000px) and (max-width: 880px) and (max-width: 600px) and (max-width: 400px) {
  .logobar-header {
    font-size: 30px;
  }
  .img-box img {
    max-width: 120px;
  }
  body {
    margin: 10px;
  }
  .main-heading {
    width: auto;
    font-size: 17px;
  }
  .form-container {
    width: auto;
  }
  .form-container:before {
    left: 15px;
  }
  .form-input {
    padding: 17px 15px 17px 32%;
  }
  .navbar-raw {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 15px;
    gap: 0;
  }
  .logo-box {
    padding: 15px 0;
  }
}
/*# sourceMappingURL=style-adaptiv.css.map */